# Use ! to open change to shell on actual directory
[[mgr.prepend_keymap]]
on   = "!"
for  = "unix"
run  = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

# Exit yazi using <ESC> key
[[input.prepend_keymap]]
on   = "<Esc>"
run  = "close"
desc = "Cancel input"
